/*Colors used
Primary color : #e62107;
Secondary color :#830F72  ;

Typography
color :#fff ;
*/

body {
  
    background-color:white/*#02305E*/;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #fff;
    box-sizing: border-box;
    overflow:auto;
}

h1, h2, h3, h4 {
    padding:1rem;
    font-weight: 700;
    line-height: 1.4;

}

h1 {
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

h2 {
    font-size: 1.8em;
    /*font-weight: 700;*/
}

h3 {
    font-size: 1.5em;
    /*font-weight: 400;*/
}
h4 {
  font-size: 1.2em;
  /*font-weight: 400;*/
}

p{
    padding-left:1rem;
    font-size: 1em;
    font-weight: 400;
}

a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
    color: #830F72;
}
a:hover, a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
    color: #994c30;
}

img {
    width: 100%;
}

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 15vh;
      left: 0;
      background-color: #EB3C0C;
      overflow-x: hidden;
      transition: 0.5s;

      padding-top: 60px;
      webkit-box-shadow: 1px 1px 1px 1px orange;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px orange;
    }


    .menubutton{
        margin-top:2rem;
        padding-left:0.5rem;
        padding-right:0.5rem;
        position: fixed;
        top: 15vh;
        /*border-radius:50%;
        border:2px solid #00873D;*/
        left:3rem;
        cursor:pointer;
        font-size:1.5em;
        color:#00873D;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1.1rem;
      color: #fff;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.col1.story p, .col1.story h1{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
/* user defined classes*/

/*Index*/

.wrapper{
    margin:0 auto;
    padding:0 0 0 0;
    width:100%;
    height:100vh;
    max-width:2000px;

}

#intro.wrapper{
    background-color:#000813;
}
.container{
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    padding:0 0 0 0;
    width:80%;
    max-width:2000px;
}


.container.navbar{
    position:fixed;
    display:flex;
    width:100%;
    height:15vh;
    padding-top:0;
    background-color:#000813;
    z-index:999;

}
main{
    padding-top:9rem;
}

#intro .container
{
    height:80vh;
    background-color:#000813;
    position:relative;
    display:flex;
    flex-flow:column wrap;
}


.column{
    flex:50%;
    display: flex;
    justify-content: center;
}

.logo
{ 
    padding:1rem;
}

.menu{
    font-weight: 400;
    font-size: 1.2em;
    display:flex;
    max-width:60%;
    overflow:hidden;
}

.menu a{
    padding:1.2rem;
    color:#fff;
    align-self: flex-end;

}

.menu .icon{
    display:none;
}



.feather_illus{
    align-self:flex-end;
    
    width:50%;height:100%;
}

.feather_illus img{
    width:60%;
    overflow:hidden;
}

.col1 {
    width:50%;height:50%;
}

.col1 p{
    padding:0 2rem 0 0;
}

.grid_work{
    margin:0 auto;
    padding:4rem 0 0 0;
    width:80%;
    max-width:2000px;
    font-size:15px;
    font-weight:400;
    display:flex;
    flex-wrap:wrap; 
}

.grid_work p{
    padding:0;
}

.grid_work .item:nth-child(3) ul,.grid_work .item:nth-child(1) ul{
    padding-right:2rem;
}


.item{
    width:100%;
}
.item h4{
    padding:0 0 0 0;
    margin-block-start: 0.2rem;
    margin-block-end: 0.6rem;
}
.item p{
    padding-right:1rem;
    padding-left:0;
}

.grid_work>div{
    flex:0 50%;
}

.item img{
    max-width:100%;
    max-height:100%;
}


/*Footer*/

.container.contact_details{
    height:50vh;
    width:80%;
    display:flex;
    justify-content: flex-start;
    overflow:hidden;
}

.contact_information{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-basis:50%;
}

.contact_information p{
    width:80%;
    padding:0 0 0 0;
}

.phone,
.email,.social {
    margin-top:0.5rem;
 
 }

#index_footer{
    background-color:#011531;
    margin-top:-6rem;
    padding-bottom:4rem;
}
.footer_header{
    width:80%;
    padding-top:4rem;

    margin:0 auto;
    text-align: left;
}

footer h3{
    padding-top:6rem;
    padding-left:0;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    background:transparent;
    border: 1px solid #ccc;
    border-radius:5px;
    margin-top: 6px;
    margin-bottom: 16px;
}



input[type=submit] {
    background: transparent;
    color: #fff;
    border-radius:10px;
    padding: 12px 20px;
    border: 1px solid white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

input [type=text]::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}


input textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

input textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.fa {
    padding: 1rem;
    border-radius: 50%;
    border:1.5px solid white;
    width: 18px;
    height:18px;
    text-align: center;
    text-decoration: none;
    margin:5px 10px 0 0;
}

.fa-github {
 
    color: white;
    margin:0 auto;
}

.fa-linkedin {
  
    color: white;
}

.fa-behance {
  
    color: white;

}

/*.myDiv{
    background-color:#5B0130;
  
    margin-top:70px;
    width:100px;
    height:100px;

    padding-bottom:10px;
      /*Animations
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;   
}

.myDiv>p{
    position:absolute;
    bottom:0;
   
    margin-left:5px;
    visibility: visible;
}

.myDiv.fullscreen{
    z-index: 2; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    margin-top:0;
    top: 0; 
    left: 0; 
 }
.myDiv.fullscreen>p{
    visibility: hidden;
}*/




/*About*/

#about_header.container{
    background-color: #5B0130;
}



/*Work*/

#work_header .container{
    background-color: #EB560C;
    z-index:9999;
}

body.work{
    background-color: #EB560C;
}



#work1_fitted.wrapper{
    padding-top:6rem;
}

#work1_fitted{
    height:auto;
    padding-bottom:5rem;
    
}


#work1_vela{
    height:auto;
    background-color: #011217;
    padding-top:3rem;
    padding-bottom:5rem;
}



#work1_fitted .container{
    background-color:#EB560C;
    display:flex;
    height:80%;
    padding-top:0;
    padding-bottom:3rem;
}

#work1_vela .container{

    background-color: #011217; 
    display:flex;
    height:80%;
    /*align-self: flex-end;*/
    padding-top:3rem;
    padding-bottom:3rem;


}

.icon{
    z-index:100000;
}
#work1_fitted .describe, #work1_vela .describe {
    width: 50%;
}
#work1_vela .describe{
    padding-right:2rem;
}   
#work1_fitted h2,h3,p{
 
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    padding:0 0 0 0;
}

#work1_fitted .button,#work1_vela .button,#work_intro .button,#vela_work_intro .button{
    margin-top:1.5rem;
    width:200px;
}

#vela_work_intro .button{
    background: transparent;
    border:1px solid #2da8f0;
    color:#2da8f0;
}


.work_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
   
  
}

.work_image img{
   
   align-self:flex-end;
  
}


/*Vela*/

#vela_work_header .container{
    background-color:#011217;
    width:100%;
   
}

#vela{
    background-color: #fff;
}
#vela_process.wrapper{
    background-color: white;
    height:auto;
    padding-bottom:4rem;
   
}

#vela_process p,h1,h2{
    padding:0 0 0 0;
}

.work_sections.process{
    padding-top:0;
    padding-bottom:0;

}

.row{

    border:0.5px solid #fff;
    padding-left:1rem;
    background-color: #176987;
    color:#fff;
}

#phase1{
    margin-top:3rem;
}
ul{
    padding-inline-start:15px;
}
/*Fitted*/
#fitted_work_header .container{
    background-color: #EB560C;
    width:100%;
    
}

body.portfolio{
    background-color: #EB560C;

}

.portfolio_header{
    padding-top:100px;
}

.containerfull{
    background-color: white;
}

.containerfull h3,.containerfull p{
    margin-left:150px;
    padding-bottom:1rem;
}

.work_sections{
    width:60%;
    margin:0 auto;
    padding-top:4rem;
    padding-bottom:4rem;
 
}
.work_sections img{
    padding-top:2rem;
}
.work_sections p,h2,h3,h4{
    padding:0 0 0 0;
}
.work_sections .button.contact:visited {
    border: 1px solid #e62107;
    color: #e62107;
}

/*.dark{
    background-color: #202020;
    color:#fff;
    height:100%;
    padding-bottom:5rem; 
}*/

.light{
    background-color: white;
    
    height:100%;
    border-bottom:0.5px solid gray;
}

#vela .light{
    color:#0C71AC;
}
#fitted .light{
    color:#F15A0C;
}

.work h2,.work h3,.work h4{
    color:#fff;
}

#fitted h2,#fitted h3,#fitted h4{
    color:#00873D;
}
#vela h2,#vela h3,#vela h4{
    color:#238EB6;
}

#gestures img,#wireframe img,#high_fidelity img{
    margin-bottom:5rem;
    
}

#gestures img{
    margin-top:2rem;
}


#interactions{
    display:flex;
    flex-direction:row;

}
#interactions div{
    margin-right:0.5rem;
}

#interactions div:last-child{
    margin-right:0;
}
#my-video{
    background-color: white;
    padding:0 0 0 0;
    margin:4rem auto;
}
#animation{
    padding-bottom:3rem;
}


/*About*/
body.about{
    background-color:#5B0130;

}

#about_header .container{
    background-color: #5B0130;
    width:100%;
    
}

.profile{
    display:flex;
    overflow:hidden;

}
.row{
    flex:50%;
}

#about_skills .row{
    background: transparent;
}


.skills{
    justify-content: space-around;
}

.profile_pic img{
    width:auto;
}

#about_story.wrapper, #about_main.wrapper{
    height:auto;
   
}


#about_skills.wrapper{
    background-color: #880148;
    height:auto;

}

#about_skills .container{
    margin-top:5rem;
    padding-top:3rem;
    padding-bottom:5rem;
}

#about_story p,h1,h2, #about_main p,h1,h2, #about_skills p,h1,h2{
    padding:0 0 0 0;
}


@media screen and (min-width: 1201px) {
    .containerfull{
        padding-top:2rem;
    }
    .containerfull h3, .containerfull p {
    margin-left:28vh;
    padding-bottom: 1rem;
    }
}

@media screen and (max-width: 1200px) {

  
    #intro .container
    {
    height:80vh;
    background-color:#000813;
    position:relative;
    display:flex;
    flex-flow:column wrap;
    }

    .container.navbar{
        height:15vh;

    }


    .describe h1{
        position:relative;
    }

  

    .col1 p{
        position:relative;
        bottom:0;
    }
    .navbar .column:nth-child(2){
        padding-right:0;
    }

    .grid_work{
        height:auto;
         font-size:14px;


    }
    .grid_work img{
        padding-top:0;
    }
 
    .wrapper{
        height:auto;
    }

    .menu {
        font-weight: 400;
        font-size: 1.2em;
        display: flex;
        max-width:100%;

    }

    .menu a{
        padding:0.8rem;

    }

    .container.contact_details{
       
        padding-bottom:5rem;
        padding-top:1rem;
    }
    #index_footer{
        margin-top:-2rem;
    }

    .work_sections{
       
        padding-top:2rem;
    
    }
    .about img{
        margin-top:0;
        padding-top:3rem;
    }
    
    /*h1{
        font-size:2em;
    }
    h2{
        font-size:1.7em;
    }
    h3{
        font-size:1.3em;
    }
    h4{
        font-size:1.1em;
    }*/

     #work1_fitted .container{
        display:flex;
    }
    #work1_fitted .describe, #work1_vela .describe{
        padding-right:2rem;
        width:50%;
    }

    #work1_fitted h2, h3, p,h4 button,a {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    
  
    .my-video-dimensions {
        width: 720px;
        height: 500px;
    }

    #responsive img{
        padding-top:0;
    }
    
    .portfolio .wrapper{
        padding-bottom:2rem;
        padding-top:2rem;
    }

    .portfolio .button.contact:visited{
        color:#EB560C;
        background: transparent;
        border:1px solid #EB560C;
    }

}

@media screen and (max-width: 1024px) {

    body{
        font-size:14px;
    }
    .my-video-dimensions {
        width: 600px;
        height: 420px;
    }
   
    /*.grid_work .item:nth-child(4) p:nth-child(1) {
    padding-top: 1.3rem;
    }*/
    
    .grid_work .item:nth-child(2) p,.grid_work .item:nth-child(4) p{
        padding-right:0;
  
    }

     .work_sections{
        width:70%;
        padding-top:1rem;
    
    }
    .feather_illus img{
        width:80%;
    }

}





@media screen and (max-width: 768px) {
    
    #intro{
        padding-top:4rem;
        margin-top:0;
    }
    
    #intro .container{
      
        height:auto;
        display:block;
    }

    .col1{
        width:auto;

    }

    .feather_illus {
       /* width: 60%;*/
        
        margin:0 auto;
        padding-bottom: 2rem;
        padding-top:2rem;
    }

    
   

    

    .grid_work{
        display:block;

        
    }
    .containerfull h3,.containerfull p{
        margin-left:100px;
        width:70%;
    
    }
    .grid_work>div{
        flex:none;}
    

    .container.navbar{
        height:15vh;

    }

    .navbar .column:nth-child(2){
        padding-right:2rem;
    }

    .menu {
        font-weight: 400;
        font-size: 1.1em;
        display: flex;
        max-width:100%;

    }

    .menu a{display: none;}
    .menu a.icon {
        float: right;
        display: block;
    }

    /* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. This class makes the menu look good on small screens
    (display the links vertically instead of horizontally) */

    .menu.responsive {position: relative;}

    .menu.responsive a {
        float: none;
        display: block;
        padding:0.7rem;
        text-align: right;
    }



    .column{
        justify-content: flex-end;
    }

    #work1_fitted .container,#work1_vela .container{
        display:block;
    }

    .container.contact_details{
        display:block;
        height:auto;
        padding-bottom:5rem;
    }

    .contact_information{
        display:block;
    }
    .contact_form{
        padding:0;
        margin-top:1rem;
    }

    .contact_information>p{
        width:auto;
    }
    .grid_work{
    font-size:14px;
    
    }
    .fa{
        border:0px;
        margin:0;
        padding:0;
    }
       .work_image {
    
     display: block; 
    
     width: auto; 
    }
    #work1_fitted .button.contact, #work1_vela .button.contact{
        width:150px;
        margin-left:auto;
        margin-right:auto;
    
    }
    #work1_fitted .describe, #work1_vela .describe {
        padding-right: 0;
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    body{
        font-size:11px;
    }

    main{
        padding-top:5rem;
    }
 

    /*.feather_illus {
        width: 80%;
    }*/

    .container.navbar{
        height:12vh;
    }
    .describe h1{
        font-size:2.5em;
    }

    #about_skills .container {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    #about_skills h3,#about_skills h4{
        padding-bottom:0;
        margin-block-start: 0; 
        margin-block-end: 0;
    }


    .portfolio .wrapper,.work_sections {
        padding-bottom: 0.5rem;
    }
    .work_sections{
        width:80%;
    }


    #work1_fitted{
        padding-bottom:2rem;
    }
    #work1_fitted .describe, #work1_vela .describe {
        padding-right: 0;
        width:auto;
    }

    .my-video-dimensions {
        width: 320px;
        height: 200px;
    }
    .grid_work{
        font-size:12px;

    }
    .containerfull h3,.containerfull p{
        margin-left:44px;
        width:80%;

    }
}

@media screen and (max-width: 320px) {
    .menu a{
        font-size:0.8em;
    }
}


.button {
    display:inline-block;
    width:100px;
    border-radius: 20px; 
    padding: 10px;
    font-size:1em; 
    font-weight:400;   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    background: linear-gradient(#ee7752, #e73c7e);
}

.button:visited{
    background: linear-gradient(#7B026A, #EB560C);
    color:#fff;
}

.button:hover {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #7B026A, #EB560C);
    background-size: 400% 400%;
    animation: gradient 5s ease;
    text-decoration: none;
    color:#fff;
   
}



.button.contact {
    background: transparent;
    color: #e6640e;
    width:200px;
    border: 2px solid white;

}

.button.contact:visited {
    background-color:#e63707;
    color:#fff;
}

.button.contact:hover, .button:focus{
    background: linear-gradient(-90deg, #ee7752,#EB560C);
    color: #fff;

    animation: gradientfill 5s ease;
   

}  

.button.contact:active {
    background-color:#e63707;

} 

@keyframes gradientfill {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.menu a:hover{
    opacity:0.9;
   
}

.meditate{
     animation: meditate_move 10s linear;
     animation-delay:0.4s;
     animation-iteration-count: 5;
}

@keyframes meditate_move {
  0% {transform: translate(73px,480px);}
  2%{transform: translate(73px,380px);}
   20%{transform: translate(73px,280px);}

  100% {transform: translate(73px,-100px);}
}


.logo_cover_fitted{
    animation: text_move 0.4s ease;
}

@keyframes text_move {
   
    0% {transform:  translate(554px,762px);}
    10% {transform:  translate(554px,762px);}
    60% {transform:  translate(554px,790px);}
    100% {transform: translate(554px,750px);}
}

.star{
       
    animation: glow 1s ease infinite;
}

.star_fast{
    
    animation: glow 0.7s ease infinite;
}

@keyframes glow {
    0% {fill:#fff;
       }
    50%{fill:orange;}   
    100% {
        fill:none;
    }
}


/*.surf{
    animation:  surfer_horizontal_move 10s linear ;
}

@keyframes surfer_horizontal_move {
  0% {transform: translate(0px,455px);}
  50%{transform: translate(600px,455px);}
  100% {transform: translate(1024px,455px);}
}*/

.ocean{
    
   
    animation-name: wave_move;
    animation-duration: 4s;
    animation-delay: 0ms; /* add this */
    animation-timing-function: linear;
    animation-iteration-count: 10;
}

@keyframes wave_move {
    0% { transform: translate(-420px,760px); }
    50% { transform: translate(-420px,800px);} 
    100% { transform: translate(-420px,760px); }
}

.surfboard{
    
    
    animation-name: board_flap/*, board_flap;*/;
    animation-duration: 4s/*, 4s*/;
    animation-delay: 0ms;/*, 10s; /* add this */
    animation-timing-function: linear/*, linear*/;
    animation-iteration-count:infinite/* 4, infinite*/;
}

@keyframes board_flap {
    0% { transform: translate(103px,214px); }
    50% { transform: translate(110px,225px);} 
    100% { transform: translate(103px,214px); }
}

.surfer{
    
    animation-name: surfer_bob/*, board_flap;*/;
    animation-duration: 4s/*, 4s*/;
    animation-delay: 0ms;/*, 10s; /* add this */
    animation-timing-function: linear/*, linear*/;
    animation-iteration-count:infinite/* 4, infinite*/;
}

@keyframes surfer_bob {
    0% { transform: translate(28px,119px); }
    50% { transform: translate(28px,130px);} 
    100% { transform: translate(28px,119px); }
}

.skyline_background{
    
    animation: day_to_night 20s linear;

}

@keyframes day_to_night {
    0% {fill:#046FFF;
       }
    30%{fill:#003A89;}   
    100% {
        fill:#000E21;
    }
}

#Moon{
    
    animation: fade_in 25s linear;
}

@keyframes fade_in {
    0% { transform: translate(220px,1024px);opacity:0; }
    20% { opacity:0; }
    50% { transform: translate(220px,650px);opacity:1;} 
    100% { transform: translate(220px,298px);opacity:1; }
}


/*#ChiTown1>*{
    stroke:#fff;
    fill:none;
    /*animation: glow_in 30s linear;
}

#ChiTown2>*{
    stroke:#fff;
    fill:none;
    /*animation: glow_in 30s linear;
}
#ChiTown3>*{
    stroke:#fff;
    fill:none;
    /*animation: glow_in 30s linear;
}
#Building1>*{
    stroke:#fff;
    fill:none;
}

#Bridge>*{
    stroke:#fff;
    fill:none;
}

#Boston1>*,#Boston2>*,#Fanieul>*,#Zakim1>*,#Zakim2>*,#Fan1>*,#Fan2>*,#Fan3>*,#Home1>*,#Home2>*,#Home3>*,#Home4>*{
    stroke:#fff;
    fill:none;
}*/
#Skyline{
    animation: title_in 3s ease-in;
}

@keyframes title_in {
    0% { transform: translate(200px,0px); }
    100% { transform: translate(0px,0px); }
}

#Zakim1{
 animation:glow-in 25s linear;
}



@keyframes glow_in {
    0% {  opacity:0.1; }
    99%{opacity:0.1;}
    100% { opacity:1; }
}