/*Colors used
Primary color : #e62107;
Secondary color :#830F72  ;

Typography
color :#fff ;
*/

body {
  /*background: linear-gradient(#5B0130,#B5054D);*/
  background-color:#02305E;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #fff;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
	padding:1rem;
  font-weight: 700;
  line-height: 1.4;

}

h1 {
    font-size: 2.75em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

h2 {
    font-size: 2.5em;
    /*font-weight: 700;*/
}

h3 {
    font-size: 2em;
    /*font-weight: 400;*/
}
h4 {
  font-size: 1.5em;
  /*font-weight: 400;*/
}

p{
    padding-left:1rem;
    font-size: 1em;
    
    font-weight: 400;
}

a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
    color: #830F72;
}
a:hover, a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
    color: #994c30;
}

img {
    width: 100%;
}



/* user defined classes*/

/*Index*/

.container{
    margin:0 auto;
    padding:0 0 0 0;
    width:80%;
    max-width:2000px;
}


.wrapper{
    margin:0 auto;
    padding:0 0 0 0;
    width:100%;
    max-width:2000px;

}

.container.navbar{
    display:flex;
    
    height:20vh;
    background-color:#02305E;

}

#intro.container
{
    height:80vh;
    
    background-color:#02305E;
    /*background-color: #5B0130;*/


}

.column{
    flex:50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.logo
{ 
    padding:1rem;
}

.menu{
    font-weight: 400;
    font-size: 1.2em;
    display:flex;
    max-width:60%;
    justify-content: flex-end;
    
}

.menu a{
    padding:1.2rem;
    color:#fff;
}


.feather_illus{
    width:60%;
    height:80%;
    float:right;
    display:flex;
    justify-content: flex-end;
}


.feather_illus img{
    align-self: flex-end;
    max-width:50%;
    max-height:70%;
}



.describe,
.story {
    position:relative;
    overflow: hidden;
    height: 50%;
}

.grid_work{
    margin:0 auto;
    padding:0 0 0 0;
    width:100%;
    max-width:2000px;
    display:flex;
    flex-wrap:wrap; 
    height:100vh;
    overflow:hidden;
    background-color:white;
  
}

.item{
   width:100%;
}

.grid_work>div{
    flex:0 50%;
}

.item img{
    max-width:100%;
    max-height:100%;
}

/*Footer*/


.container.contact_details{
    height:50vh;
    width:80%;
    display:flex;
    justify-content: flex-start;
    overflow:hidden;
}



.contact_information{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-basis:50%;
}

.contact_information p{
    width:70%;
}

.phone,
.email,.social {
    margin-top:0.5rem;
 
 }

.footer_header{
    width:80%;
    margin:0 auto;
    text-align: left;
}

footer h3{
    margin-top:6rem;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  background:transparent;
  border: 1px solid #ccc;
  border-radius:5px;
  margin-top: 6px;
  margin-bottom: 16px;
}



input[type=submit] {
  background: transparent;
  color: #fff;
  border-radius:10px;
  padding: 12px 20px;
  border: 1px solid white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input [type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


input textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

input textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

input textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.fa {
    padding: 1rem;
    border-radius: 50%;
    border:1.5px solid white;
    width: 18px;
    height:18px;
    text-align: center;
    text-decoration: none;
    margin:5px 10px 0 0;
}

.fa-github {
 
    color: white;
    margin:0 auto;
}

.fa-linkedin {
  
    color: white;
}

.fa-behance {
  
    color: white;

}


#git{
  align-self: flex-end;
}
#linkedin{
  align-self: center;
}
#behance{
  align-self: flex-end;
}

/*About*/





#about_header.container{
    background-color: #5B0130;
}

   

/*Work*/

#work_header .container{
    background-color: #EB560C;
}

body.work{
    background-color: #EB560C;
}

#work1_fitted.wrapper{
    height:90vh;
    width:100%;
}


#work1_vela.wrapper{
    height:100vh;
    background-color: #0C99EB;
    width:100%;
    justify-content: center;
}


#work1_fitted .container{
  background-color:#EB560C;
  display:flex;
  height:80%;
}

#work1_vela .container{
  background-color: /*#0C99EB*/ blue; 
  display:flex;
  height:80%;
  align-self: center;


}

#work1_fitted .describe, #work1_vela .describe {
  width: 50%;
  height: 100%;
  
}


#work1_fitted .button,#work1_vela .button,#work_intro .button{
  margin-top:1.5rem;
  width:200px;


}

.work_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
  
}

.work_image img{
    width:auto;
    height:auto;
    max-width:90%;
    max-height:90%;
    align-self:flex-end;
  
}




/*Contact*/
#contact.container a,a:visited{
  color:white;

}




.container.work_dark{
  background-color: #363535;
  padding-bottom: 6rem;
  color:#fff;
}

.container.work_light{
background-color: #fff;
color:#363535;
}


#work1_fitted p,h2,h3, #work1_vela p,h2,h3,.container.work_light p,h2,h3, .container.work_dark p,h2,h3,h4,#about_main.container a,p,h2,h3, #intro.container h1{
  padding:0 0 0 0;
 
}

#about_main.container img{
  max-width:50%;
}

  

#contact.container{
  display:flex;
  justify-content: center;
}









.containerfull{
  
  max-width:100%;
  background-color: #D15710;
  

}







.container.work_dark .describe, .container.work_light .describe{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}



.describe h1{
    position:absolute;
    bottom:0;
    left:0;
}

body.portfolio{
  background-color: white;
}
body.about{
  background-color:#5B0130;
}



#interactions{
  display:flex;
  flex-direction:row;

}
#interactions div{
  margin-right:0.5rem;
}



.profile_pic{
	display:block;
	margin: auto;
	width:40%;
}

#my-video{
  background-color: white;
 

  margin:0 auto;
}




.button {
    display:inline-block;
    width:100px;
    border-radius: 25px; 
    padding: 10px;
    font-size:0.8em;    
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    background: linear-gradient(#ee7752, #e73c7e);
}

.button:visited{
    background: linear-gradient(#7B026A, #EB560C);
    color:#fff;
}

.button:hover {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #7B026A, #EB560C);
    background-size: 400% 400%;
    animation: gradient 5s ease;
    text-decoration: none;
    color:#fff;
   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.button.contact {
  background: transparent;
  color: #e6640e;
  border: 2px solid white;

}

.button.contact:visited {
  background:linear-gradient(#e62107,#e63707);
  color:#fff;
}

.button.contact:hover, .button:focus{
  background-color:#f5870a;
  color: #fff;
}  

.button.contact:active {
  background-color:#e63707;

} 
